---
chars:
- url: /shine.html
  name: Dr. Shine
- url: /twentyii.html
  name: Twenty-II
- url: /martini.html
  name: Agent Vodka Martini
- url: /pockets.html
  name: "pockets"
terminal:
  url: /terminal.html
  name: Hyperexpress Computer Terminal
---
<html>
    <head>
        <title>Transeurasian Hyperexpress</title>
        <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/css/train.css">
    </head>
    <body>
        <div class="nav">
            <ul>
                <li><a {% if layout.terminal.url == page.url %} class="active" {% endif %}
                href="{{ layout.terminal.url }}"> {{ layout.terminal.name }} </a></li>
                </li>
            </ul>
            <h2>Passengers</h2>
            <ul>
              {% for character in layout.chars %}
                <li><a {% if character.url == page.url %} class="active" {% endif %}
                href="{{ character.url }}"> {{ character.name }} </a></li>
              {% endfor %}
            </ul>
            <h2>Inventory</h2>
            <ul>

            </ul>
            <ul id="inventory">
            </ul>
        </div>
        <div class="content">
        {{ content }}
        </div>
    </body>
</html>